@use "../../styles/mixins";

.profile {
  padding: 0 30px 0 30px;
  margin-top: 46px;
  @include mixins.flex(row,center,start,wrap-reverse);
  gap: 36px;

  &__content{
    @include mixins.flex(column,start,start);
    gap: 40px;
  }

}