@use "../../styles/mixins";

.employer{
  padding: 100px 0;
  @include mixins.flex();

  &__cont{
    padding: 43px 65px 57px 65px;
    @include mixins.flex(column, start, start);
    gap: 48px;
    box-shadow: 5px 5px 14px 5px rgba(0,0,0,0.5);
    border-radius: 49px;
    @media (max-width: 920px) {
      padding: 43px 35px 57px 35px;
    }

    @media (max-width 640px) {
      padding: 53px 35px 57px 35px;
      border-radius: 1px;

    }


    h2{
      font-size: 40px;
      color: black;
      @media (max-width: 320px) {
        font-size: 32px;
      }
      }
  }

  &__form{
    @include mixins.flex(row, start, start);
    column-gap:130px ;
    row-gap:10px ;
    @media (max-width: 920px) {
      column-gap:40px ;
    }

    @media (max-width: 640px) {
      @include mixins.flex(column, center,center);
    }
  }

  &__input-cont{
    @include mixins.flex(column);
    gap: 14px;
    p{
      @include mixins.flex(column,start, start);
      @media (max-width: 640px) {
        @include mixins.flex(column,start, center);

      }
      gap: 7px;
      label{
        font-size: 20px;
        color: black;

      }

      input{
        padding: 18px 23px;
        width: 300px;
        border: solid 1px rgba(0,0,0,0.2);
        border-radius: 29px;
        color: black;
        @media (max-width: 768px) {
          width: 250px;
        }
      }
    }

    button{
      margin-top: 45px;
      padding: 18px 52px;
      background-color: #3914AF;
      border-radius: 29px;
    }
  }
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}