*{
  color: #000000;
  font-family: Inter, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;

}

body>*{
  width: 100%;
  max-width: 1920px;
}

.main.blur {
  filter: blur(15px);
  pointer-events: none;
  user-select: none;
}

header>*{
  color: #ffffff;
  a{
    color: #ffffff;
  }
}

.loader-container{
 min-width: 100vh;
  min-height: 100vh;
  background-color: #3914AF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;


  .loader{
    color: white;
    font-size: 50px;
  }

  .point{
    color: white;
  }
  
  .point-1{
    animation: PointAnim 0.5s infinite ease-in-out;
  }
  
  .point-2{
    animation: PointAnim 0.8s infinite ease-in-out;

  }
  
  .point-3{
    animation: PointAnim 0.9s infinite ease-in-out;
  }
  
  @keyframes PointAnim {
    0%{
      opacity: 0;
  }

    100%{
      opacity: 1;
    }
    
  }
}
