*{
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

body>*{
  width: 100%;
  max-width: 1920px;
}

.main.blur {
  filter: blur(15px);
  pointer-events: none;
  user-select: none;
}