html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

* {
  color: #000000;
  font-family: Inter, Helvetica, sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

body > * {
  width: 100%;
  max-width: 1920px;
}

.main.blur {
  -webkit-filter: blur(15px);
          filter: blur(15px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header > * {
  color: #ffffff;
}
header > * a {
  color: #ffffff;
}

.loader-container {
  min-width: 100vh;
  min-height: 100vh;
  background-color: #3914AF;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.loader-container .loader {
  color: white;
  font-size: 50px;
}
.loader-container .point {
  color: white;
}
.loader-container .point-1 {
  -webkit-animation: PointAnim 0.5s infinite ease-in-out;
          animation: PointAnim 0.5s infinite ease-in-out;
}
.loader-container .point-2 {
  -webkit-animation: PointAnim 0.8s infinite ease-in-out;
          animation: PointAnim 0.8s infinite ease-in-out;
}
.loader-container .point-3 {
  -webkit-animation: PointAnim 0.9s infinite ease-in-out;
          animation: PointAnim 0.9s infinite ease-in-out;
}
@-webkit-keyframes PointAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PointAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}