@use "../../styles/mixins";

.footer {
  padding: 26px 20px;
  margin-top: 200px;
  border-top: solid 1px black;
  @include mixins.flex(row, center, center, wrap);
  @media (max-width:1073px) {
    @include mixins.flex(column);
  }
  &__container {
    padding-right: 90px;
    @include mixins.flex(column,start,start);
    gap: 21px;
    border-right: solid 1px black;

    @media (max-width:1073px) {
      padding-right: 0px;
      @include mixins.flex(column,center,center);
      padding-bottom: 50px;
      border-right: solid 1px #ffffff;
      border-bottom: solid 1px #000000;
    }

    p{
      max-width: 372px;
      font-size: 24px;
      color:rgba(000, 000, 000, 0.5);
      @media (max-width:1073px) {
        text-align: center;
      }
    }
  }
}

.text-container {
    padding-left: 78px;
    @include mixins.flex(row,start,start,wrap);
    gap: 78px;
  @media (max-width:1073px) {
    @include mixins.flex(row,center,center,wrap);
    padding-left:0;
    padding-top:20px;
    text-align: center;
  }
  h2 {
    font-size: 24px;
    color: black;
  }
}

.list-container {
  @include mixins.flex (column,start,start);
  gap: 16px;
  @media (max-width:1073px) {
    @include mixins.flex (column,center,center);
  }
    &__list{
    @include mixins.flex(column,center,start);
    gap: 10px;
    @media (max-width:1073px) {
      @include mixins.flex(column,center,center);
    }
    a{
      font-size: 24px;
      color:rgba(000, 000, 000, 0.5);
    }
  }
}