@use "../../styles/mixins";

.btn{
  background-color: #3914AF;
  padding: 10px;
  color: white;
  border-radius: 12px;
}

.postview-profile {

  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  border-radius: 30px;
  background: #fff;
  @include mixins.flex(column,start,start);
  gap: 15px;
  @media (max-width: 1150px) {
    width: 800px;
  }
  @media (max-width: 850px) {
    width: 600px;
  }
  @media (max-width: 650px) {
    width: 400px;
  }

  @media (max-width: 450px) {
    width: 300px;
  }
  &__info{
    @include mixins.flex();
    gap: 14px;

    img{
      width: 50px;
    }

    div{
      @include mixins.flex(column,start,start);
      gap: 5px;
    }
  }

  &__content{
    @include mixins.flex(column,start,start);
    gap: 5px;
  }

  .profile-link {
    color: #3914AF;
    text-decoration: underline;
    font-weight: bold;
  }
}